body {
    margin: 0px;
}

#frontImg {
    -khtml-margin-top-collapse: separate;
    -khtml-margin-bottom-collapse: separate;
    position: absolute;
    width: auto;
    height: auto;
    right: 0px;
    bottom: 0px;
    left: 0px;
    top: 0px;
}

#info {
    position: absolute;
    width: 13px;
    height: 13px;
    opacity: 1;
    top: 17px;
    right: 16px;
    margin-left: auto;
    margin-bottom: auto;
}

#back {
    display: none;
}

#backImg {
    position: absolute;
    display: block;
    top: 0px;
    right: 0px;
    width: auto;
    bottom: 0px;
    height: auto;
    left: 0px;
}

#done {
    position: absolute;
    top: 288px;
    left: 242px;
}

#backDevelopedWith {
    position: absolute;
    width: 150px;
    height: 49px;
    top: 470px;
    left: 30px;
    margin-right: auto;
}
/*---------------------------*/
body {
    margin: 0px;
    line-height: 1.3em;
    font-family: Times;
    font-size: 9pt;
}

#banner {
    display: block;
    min-height: 49px;
    height: auto;
    width: auto;
    margin-right: 0px;
    margin-left: 0px;
}

#banner #usermeta {
    height: 45px;
    margin-left: 3px;
    padding-top: 4px;
}

#usermeta img.useravatar {
    float: left;
    margin-top: 0px;
    margin-right: 6px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#usermeta span {
    display: block;
    margin-top: 3px;
    margin-left: 3px;
}

#usermeta span.displayname {
    font-size: 2em;
    margin-top: 10px;
}

#banner #icon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#banner #icon img {
    width: 50px;
    height: 50px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
}

form#sendform {
    padding: 0px;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
}

form#sendform #text_area {
    width: 76%;
	height: 20px;
    margin: 0px;
    padding: 2px;
    font-size: 1.3em;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(211, 211, 211);
    vertical-align: middle;
}

form#sendform #send_button {
    width: 20%;
	height: 24px;	
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 1.2em;
    float: right;
    background-color: rgb(182, 82, 23);
    border-width: 1px;
    border-style: solid;
    border-top-color: rgb(158, 82, 39);
    border-right-color: rgb(133, 63, 24);
    border-bottom-color: rgb(133, 63, 24);
    border-left-color: rgb(158, 82, 39);
    cursor: pointer;
}

#msgs {
    display: block;
    clear: both;
}

msg {
    display: block;
    margin-bottom: 4px;
    padding: 4px;
    background-color: rgb(255, 250, 250);
    -moz-border-radius: 5px;
    min-height: 2.5em;
    overflow: hidden;
}

msg:hover {
    background-color: white;
}

msg.unread content {
    font-weight: bold;
}

msg.unreadresponse content {
    color: rgb(0, 100, 0);
}

msg span.meta {
    display: block;
    color: rgb(169, 169, 169);
    text-align: right;
    font-size: 0.9em;
}

msg responsenum {
    color: rgb(210, 105, 30);
    font-size: 2em;
    margin-left: 3px;
}

responses {
    display: block;
    line-height: 1.1em;
    overflow: hidden;
    margin: 2px;
    border-style: solid;
    border-color: rgb(211, 211, 211);
    border-width: thin;
    padding: 5px;
    -moz-border-radius: 5px;
}

form#responseform {
    display: block;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 3px;
    margin-left: 0px;
	width: 100%;
}

form#responseform textarea {
    width: 97%;
    height: 1.3em;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 5px;
    margin-left: auto;
    padding: 3px;
    font-size: 1.1em;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(211, 211, 211);
}

form#responseform input {
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 3px;
    background-color: rgb(182, 82, 23);
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-top-color: rgb(158, 82, 39);
    border-right-color: rgb(133, 63, 24);
    border-bottom-color: rgb(133, 63, 24);
    border-left-color: rgb(158, 82, 39);
    cursor: pointer;
}

div#loadmore a {
    display: block;
    color: white;
    font-weight: bold;
    font-size: 1.8em;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    margin-top: 3px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    padding: 5px;
    background-image: initial;
    background-repeat: initial;
    background-attachment: initial;
    -khtml-background-clip: initial;
    -khtml-background-origin: initial;
    background-color: rgb(182, 82, 23);
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    -moz-border-radius: 5px;
    border-top-color: rgb(158, 82, 39);
    border-right-color: rgb(133, 63, 24);
    border-bottom-color: rgb(133, 63, 24);
    border-left-color: rgb(158, 82, 39);
    cursor: pointer;
}

#sendPlurk {
    -khtml-margin-top-collapse: separate;
    -khtml-margin-bottom-collapse: separate;
    margin-left: 0px;
    width: auto;
    min-height: 41px;
    height: auto;
    margin-right: 0px;
}

#loadmore {
    margin-right: 0px;
    width: auto;
    height: 30px;
    margin-left: 0px;
}



#scrollArea {
    color: black;
    font-family: HelveticaNeue;
    font-size: 10pt;
    -khtml-margin-top-collapse: separate;
    -khtml-margin-bottom-collapse: separate;
    position: absolute;
    bottom: 25px;
    top: 25px;
    height: auto;
    right: 25px;
    width: auto;
    left: 25px;
    opacity: 1;
}

#content {
    -khtml-margin-top-collapse: separate;
    -khtml-margin-bottom-collapse: separate;
    margin-top: 0px;
    margin-left: 0px;
    opacity: 1;
    bottom: 0px;
    height: auto;
    width: auto;
}

#msgs {
    margin-left: 0px;
    min-height: 41px;
    height: auto;
    width: auto;
    margin-right: 0px;
}

#front {
    width: auto;
    margin-right: 0px;
    margin-left: 0px;
    min-height: 0px;
    height: auto;
}

#usermeta {
    margin-top: 0px;
    -khtml-margin-top-collapse: separate;
    -khtml-margin-bottom-collapse: separate;
    position: relative;
    width: auto;
    margin-right: 0px;
    min-height: 45px;
    height: auto;
    margin-left: 55px !important;
}

#text {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    top: 202px;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans';
    font-size: 13px;
    height: auto;
    right: 215px;
    width: auto;
    left: 80px;
}

#text1 {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans';
    font-size: 13px;
    top: 246px;
    height: auto;
    right: 215px;
    width: auto;
    left: 80px;
}

#text2 {
    font-size: 13px;
    font-family: 'Lucida Grande', Arial, sans-serif;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    color: rgb(255, 255, 255);
    top: 160px;
    width: auto;
    height: auto;
    left: 80px;
}

#image {
    position: absolute;
    right: auto;
    bottom: auto;
    margin-top: 0px;
    width: 60px;
    height: 60px;
    top: 77px;
    left: 80px;
    -webkit-border-top-left-radius: 0px 0px;
    -webkit-border-top-right-radius: 0px 0px;
    -webkit-border-bottom-left-radius: 0px 0px;
    -webkit-border-bottom-right-radius: 0px 0px;
    border-width: 1px !important;
}

#inner_image {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    -khtml-box-reflect: below 1px -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), color-stop(0.5, transparent), to(rgba(255, 255, 255, 0.0742188))) 0 0 0 0 stretch stretch;
}

#txtUsername {
    position: absolute;
    color: black;
    font-family: HelveticaNeue;
    font-size: 10pt;
    width: 126px;
    left: 159px;
    top: 197px;
    white-space: nowrap;
}

#txtPassword {
    position: absolute;
    color: black;
    font-family: HelveticaNeue;
    font-size: 10pt;
    width: 126px;
    left: 159px;
    top: 241px;
    white-space: nowrap;
}

#jetplurkmeta {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    color: rgb(255, 255, 255);
    font-family: Times;
    text-align: right;
    top: 120px;
    font-size: 12px;
    left: 245px;
    right: 84px;
    width: auto;
    bottom: 413px;
    height: auto;
}

#jetplurkmeta1 {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    color: rgb(255, 255, 255);
    font-family: Times;
    left: 159px;
    top: 120px;
    right: 127px;
    width: auto;
    bottom: 413px;
    height: auto;
    font-size: 16px;
}
